  .flip {
    -webkit-perspective: 800;   
            perspective: 800;
          position: relative;
          text-align: center;
  }
  .flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
  }
  .flip .card {
      width: 187px;
      height: 300px;
      -webkit-transform-style: preserve-3d;
      -webkit-transition: 0.5s;
      transform-style: preserve-3d;
      transition: 0.5s;
      background-color: #e18237;
     
  }
  .flip .card .face {
    -webkit-backface-visibility: hidden ;
      backface-visibility: hidden ;
     z-index: 2;
  }
  .flip .card .front {
     position: absolute;
     width: 187px;
     z-index: 1;
  }
  .flip .card .front{
    overflow: hidden;
    width: 187px;
    height: 100%;
  }
  .flip .card .img {
     position: relative;
     width: 187px;
     height: 300px;
     z-index: 1;
     border: 2px;
  }
  .flip .card .back {
    padding-top: 10%;
    margin-left: 0px;
    -webkit-transform: rotatey(-180deg);
            transform: rotatey(-180deg);
    position: absolute;
  }
  .inner{
    height: 300px;
    width: 187px;
  }

  .card-image{
    width: 100%;
    height: 100%;
  }


  .correct{
    width: 100%;
  }

.icon{
  font-size:130px;
}
.color-green{
  color: green;
}
.color-red{
  color:darkred;
}

.end-card{
  width: 35rem;
  color: #6a2634;
  background-color: #e18237;
}

.end-card-img{
  height: 15rem;
  overflow: hidden;
  object-fit: cover;
}

.end-card-body{
  height: 15rem;
  overflow: auto;
  background-color: #ffe0a3;
}

@media only screen and (max-width: 1200px) {
  .flip .card {
          width: 93px;
          height: 150px;
          -webkit-transform-style: preserve-3d;
          -webkit-transition: 0.5s;
          transform-style: preserve-3d;
          transition: 0.5s;
          background-color: #e18237;

  }
  .flip .card .front {
          position: absolute;
          width: 93px;
          z-index: 1;
  }

  .flip .card .front {
          overflow: hidden;
          width: 93px;
          height: 100%;
  }

  .flip .card .img {
          position: relative;
          width: 93px;
          height: 150px;
          z-index: 1;
          border: 2px;
  }

  .inner {
          height: 150px;
          width: 93px;
  }
  .icon{
    font-size:65px;
  }

}

.scrollbar::-webkit-scrollbar {
  background-color:#ffe0a3;
  width:8px
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color:#ffe0a3
}
.scrollbar::-webkit-scrollbar-track:hover {
  background-color:#dcc391
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:1px solid #ffe0a3
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color:#a0a0a5;
  border:0px solid #ffe0a3
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}