.color-heavy {
        color: #6a2634;
}

.color-text {
        color: #e18237;
}

.color-bgmono {
        background-color: #ffe9b7;
}

.color-bg {
        background-repeat: no-repeat;

        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='4096' height='2048' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1265%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(255%2c 224%2c 163%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c837.979C154.794%2c852.566%2c294.719%2c743.753%2c413.524%2c643.456C522.336%2c551.596%2c578.923%2c420.758%2c644.155%2c294.176C712.763%2c161.042%2c820.045%2c33.283%2c804.745%2c-115.705C789.317%2c-265.943%2c679.769%2c-391.792%2c563.78%2c-488.518C458.084%2c-576.66%2c315.226%2c-585.851%2c185.584%2c-632.041C46.448%2c-681.613%2c-79.107%2c-784.677%2c-226.072%2c-769.929C-383.13%2c-754.168%2c-523.245%2c-661.777%2c-634.447%2c-549.751C-750.557%2c-432.781%2c-883.415%2c-288.563%2c-866.65%2c-124.605C-849.668%2c41.475%2c-650.018%2c116.832%2c-552.437%2c252.29C-479.217%2c353.932%2c-452.25%2c478.84%2c-366.296%2c569.968C-260.341%2c682.301%2c-153.738%2c823.491%2c0%2c837.979' fill='%23ffc44f'%3e%3c/path%3e%3cpath d='M1920 1856.536C2062.822 1858.505 2167.035 1724.798 2272.433 1628.396 2362.848 1545.699 2435.9120000000003 1450.311 2486.265 1338.605 2536.417 1227.346 2561.234 1109.851 2561.186 987.811 2561.132 849.929 2586.61 683.835 2485.9700000000003 589.585 2384.186 494.264 2217.8 554.741 2079.5190000000002 536.727 1966.644 522.022 1857.227 462.19399999999996 1747.763 493.41499999999996 1637.995 524.723 1577.2930000000001 634.644 1487.8 705.496 1372.949 796.424 1192.15 829.468 1147.1970000000001 968.888 1102.74 1106.769 1192.071 1255.018 1271.566 1376.13 1343.917 1486.358 1467.814 1540.272 1573.758 1618.763 1688.581 1703.8319999999999 1777.112 1854.566 1920 1856.536' fill='%23fffcf7'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1265'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
        background-size: 100% 100%;
}

html,
body {
        height: 100%;
        font-size: 1rem;
}

.btn-secondary:hover {
        background-color: green !important;
}

.container-fluid {
        font-family: Verdana, Geneva, sans-serif;
        padding: 2% 4%;
        text-decoration: dotted;
}

.card-placeholder {
        height: 200px;
        width: 125px;
        background-color: #6a2634
}

.hide {
        display: none;
}

.height-20 {
        height: 150px;
}

h2 {
        text-align: center;
}

@media only screen and (max-width: 1200px) {
        html {
                font-size: 0.5rem;
        }
}
.puff-in-center {
        -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.5s both;
        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 0.5s both;
}

.puff-in-top {
        -webkit-animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
        animation: puff-in-top 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

.puff-in-bottom {
        -webkit-animation: puff-in-bottom 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
        animation: puff-in-bottom 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 1s both;
}

.slide-in-top {
        -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
        -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-left {
        -webkit-animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-tr {
        -webkit-animation: slide-in-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-tr 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-tl {
        -webkit-animation: slide-in-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-tl 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes puff-in-center {
        0% {
                -webkit-transform: scale(2);
                transform: scale(2);
                -webkit-filter: blur(4px);
                filter: blur(4px);
                opacity: 0;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@keyframes puff-in-center {
        0% {
                -webkit-transform: scale(2);
                transform: scale(2);
                -webkit-filter: blur(4px);
                filter: blur(4px);
                opacity: 0;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@-webkit-keyframes puff-in-top {
        0% {
                -webkit-transform: scale(2);
                transform: scale(2);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-filter: blur(4px);
                filter: blur(4px);
                opacity: 0;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@keyframes puff-in-top {
        0% {
                -webkit-transform: scale(2);
                transform: scale(2);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-filter: blur(4px);
                filter: blur(4px);
                opacity: 0;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@-webkit-keyframes puff-in-bottom {
        0% {
                -webkit-transform: scale(2);
                transform: scale(2);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-filter: blur(4px);
                filter: blur(4px);
                opacity: 0;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@keyframes puff-in-bottom {
        0% {
                -webkit-transform: scale(2);
                transform: scale(2);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-filter: blur(4px);
                filter: blur(4px);
                opacity: 0;
        }

        100% {
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
                -webkit-filter: blur(0px);
                filter: blur(0px);
                opacity: 1;
        }
}

@-webkit-keyframes slide-in-right {
        0% {
                -webkit-transform: translateX(1500px);
                transform: translateX(1500px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}

@keyframes slide-in-right {
        0% {
                -webkit-transform: translateX(1500px);
                transform: translateX(1500px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}


@-webkit-keyframes slide-in-left {
        0% {
                -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}

@keyframes slide-in-left {
        0% {
                -webkit-transform: translateX(-1000px);
                transform: translateX(-1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
                opacity: 1;
        }
}

@-webkit-keyframes slide-in-tr {
        0% {
                -webkit-transform: translateY(-1000px) translateX(1000px);
                transform: translateY(-1000px) translateX(1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
                opacity: 1;
        }
}

@keyframes slide-in-tr {
        0% {
                -webkit-transform: translateY(-1000px) translateX(1000px);
                transform: translateY(-1000px) translateX(1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
                opacity: 1;
        }
}

@-webkit-keyframes slide-in-tl {
        0% {
                -webkit-transform: translateY(-1000px) translateX(-1000px);
                transform: translateY(-1000px) translateX(-1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
                opacity: 1;
        }
}

@keyframes slide-in-tl {
        0% {
                -webkit-transform: translateY(-1000px) translateX(-1000px);
                transform: translateY(-1000px) translateX(-1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0) translateX(0);
                transform: translateY(0) translateX(0);
                opacity: 1;
        }
}

@-webkit-keyframes slide-in-top {
        0% {
                -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
        }
}

@keyframes slide-in-top {
        0% {
                -webkit-transform: translateY(-1000px);
                transform: translateY(-1000px);
                opacity: 0;
        }

        100% {
                -webkit-transform: translateY(0);
                transform: translateY(0);
                opacity: 1;
        }
}

.bounce-top {
        -webkit-animation: bounce-top 0.9s both;
        animation: bounce-top 0.9s both;
}

@-webkit-keyframes bounce-top {
        0% {
                -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
        }

        24% {
                opacity: 1;
        }

        40% {
                -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        65% {
                -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        82% {
                -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        93% {
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        25%,
        55%,
        75%,
        87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
}

@keyframes bounce-top {
        0% {
                -webkit-transform: translateY(-45px);
                transform: translateY(-45px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
                opacity: 1;
        }

        24% {
                opacity: 1;
        }

        40% {
                -webkit-transform: translateY(-24px);
                transform: translateY(-24px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        65% {
                -webkit-transform: translateY(-12px);
                transform: translateY(-12px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        82% {
                -webkit-transform: translateY(-6px);
                transform: translateY(-6px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        93% {
                -webkit-transform: translateY(-4px);
                transform: translateY(-4px);
                -webkit-animation-timing-function: ease-in;
                animation-timing-function: ease-in;
        }

        25%,
        55%,
        75%,
        87% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
        }

        100% {
                -webkit-transform: translateY(0px);
                transform: translateY(0px);
                -webkit-animation-timing-function: ease-out;
                animation-timing-function: ease-out;
                opacity: 1;
        }
}

.shake-horizontal {
        -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {

        0%,
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
        }

        10%,
        30%,
        50%,
        70% {
                -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        }

        20%,
        40%,
        60% {
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
        }

        80% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
        }

        90% {
                -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        }
}

@keyframes shake-horizontal {

        0%,
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
        }

        10%,
        30%,
        50%,
        70% {
                -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        }

        20%,
        40%,
        60% {
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
        }

        80% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
        }

        90% {
                -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        }
}

@-webkit-keyframes shake-horizontal {

        0%,
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
        }

        10%,
        30%,
        50%,
        70% {
                -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        }

        20%,
        40%,
        60% {
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
        }

        80% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
        }

        90% {
                -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        }
}

@keyframes shake-horizontal {

        0%,
        100% {
                -webkit-transform: translateX(0);
                transform: translateX(0);
        }

        10%,
        30%,
        50%,
        70% {
                -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
        }

        20%,
        40%,
        60% {
                -webkit-transform: translateX(10px);
                transform: translateX(10px);
        }

        80% {
                -webkit-transform: translateX(8px);
                transform: translateX(8px);
        }

        90% {
                -webkit-transform: translateX(-8px);
                transform: translateX(-8px);
        }
}



.csbutton {
        font-weight: 600;
        border: solid 2px black;
        outline: 0;
        padding: 1rem 4rem;
        font-size: 1.5rem;
        letter-spacing: 0.08rem;
        background-color: #ffe0b2;
        border-radius: 0.35rem;
        position: relative;
        cursor: pointer;
}

.csbutton:not([disabled])::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e18237;
        z-index: -1;
        border-radius: 0.35rem;
        border: solid 2px black;
        transition: all 0.3s ease-in-out;
}

.csbutton.style-2::after {
        top: 0.5rem;
        left: 0.5rem;
}

.csbutton.style-2:hover:not([disabled])::after {
        width: calc(100% + 0.5rem);
        height: calc(100% + 0.5rem);
}

.csbutton.disabled {
        background-color: rgb(225, 225, 225);
        pointer-events: none;
}

.csbutton.disabled::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #4a4a4a;
        z-index: -1;
        border-radius: 0.35rem;
        border: solid 2px black;
        transition: all 0.3s ease-in-out;
}

